.picker-outer-container {
  margin: 20px;
}

.picker-num-btn-container {
  border: 2px solid #62af82;
  height: 150px;
  width: 150px;
  border-radius: 10px;
  display: flex;
}

.plus-minus-button-container {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.number-display-container {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.number-display {
  font-size: 350%;
}

.increment-button-up,
.increment-button-down {
  height: 90px;
  border: 0px;
  font-size: 200%;
  background-color: #62af82;
}

.increment-button-up {
  border-top-right-radius: 8px;
}

.increment-button-down {
  border-bottom-right-radius: 8px;
}

.increment-button-up:hover,
.increment-button-down:hover {
  cursor: pointer;
  background-color: #3e7cee;
}
