* {
  margin: 0px;
  padding: 0px;
  color: #FFF;
  font-family: 'Play', sans-serif;
}

.app-title {
  font-size: 200%;
  margin-top: 20px;
}

.main-outer-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  width: 100vw;
  background-color: #1e1e2e;
}

.main-container {
  height: 100vh;
  width: 360px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #034843;
}

.view-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-button-container {
  height: 50px;
  width: 250px;
  display: flex;
  justify-content: space-between;
  margin: 15px 0px;
}

.arrow-button {
  height: 50px;
  width: 50px;
  border-radius: 8px;
  font-size: 150%;
  background-color: #3e7cee;
  border: 2px solid #FFF;
  color: #FFF;
}

.arrow-button:hover {
  cursor: pointer;
}

.error-message {
  position: absolute;
  top: 130px;
  color: #ffad00;
}

@media only screen and (max-width: 490px) {

  .main-container {
    width: 100%;
    height: 100vh;
  }

}
